<!doctype html>
<html>
<head>
    <title>Sprig Training</title>
    <link rel="stylesheet" href="/src/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>

{% do sprig.setConfig({
    defaultSettleDelay: 0,
    requestClass: 'loading',
}) %}

{% js %}
    htmx.on('keydown', (event) => {
      if (event.code === "ShiftLeft") {
          htmx.addClass('body', 'highlight');
      }
    });
    htmx.on('keyup', (event) => {
      if (event.code === "ShiftLeft") {
          htmx.removeClass('body', 'highlight');
      }
    });
{% endjs %}
