{% extends '_layout.twig' %}

{% block body %}
    <div class="m-4 flex justify-center items-center">
        <div class="mx-auto">
            <div class="mt-3 flex align-start">
                {{ sprig('_components/listing') }}
            </div>
        </div>
    </div>
{% endblock %}

