{% extends '_layout.twig' %}

{% block body %}
    <div class="m-4 flex justify-center items-center">
        <div class="mx-auto">
            <div>
                <div class="mt-3 flex space-x-6">
                    {{ sprig('_components/shopping-cart/cart', {}, {
                            id: 'cart',
                    }) }}
                    <div class="flex flex-col space-y-3">
                        {{ sprig('_components/shopping-cart/items', {}, {
                            's-listen': '#cart',
                        }) }}
                        {{ sprig('_components/shopping-cart/order', {}, {
                            's-listen': '#cart',
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
